@font-face {
    font-family: 'Backwoods';
    src: url(../Fonts/akaPosse.ttf) format("opentype");
}

body {
    background: #53a65d;
    font-family: 'Backwoods';
    color: #ee3425;
    text-shadow: 2px 2px 0px #ffffff;
}

header {
    border: 2px solid black;
    height: 100px;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 35px;
    font-size: 50px;
}

h1{
    margin-bottom: 20px;
}

.underscore {
    border: 2px solid black;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    font-size: 42px;
}

.attempts {
    border: 2px solid black;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    font-size: 40px;
}

.roaches {
    border: 2px solid black;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    font-size: 40px;
}