header {
    border: 2px solid black;
    height: 100px;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
}

.underscore {
    border: 2px solid black;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    font-size: 42px;
}

.attempts {
    border: 2px solid black;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    font-size: 21;
}

.roaches {
    border: 2px solid black;
    width: 75%;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    font-size: 21;
}